<h1>Details about <%=cat.name%></h1>
<img src="images/<%=cat.img%>.jpg">
<table>
    <tr>
        <td>Favorite Food: </td>
        <td><%=cat.food%></td>
    </tr>
        <td>Age:</td>
        <td><%=cat.age%></td>
</table>